Package: pifmrds
Version: 1.0.0
Architecture: armhf
Maintainer: Jan Nemec <nemec.jan123@gmail.com>
Installed-Size: 83
Depends: libc6 (>= 2.28), libglib2.0-0 (>= 2.28.0), libpulse0 (>= 0.99.1), libsndfile1 (>= 1.0.20), init-system-helpers (>= 1.52), python3-watchdog (>= 0.9.0)
Section: unknown
Priority: optional
Description: Your RPi is now FM transmitter!
