[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Type=Application
Terminal=false
Exec=pifmrds-gui
Name=PiFmRds GUI
Icon=audio-card
Comment=Turn your Pi into FM transmitter with GUI
Categories=AudioVideo;Audio;Mixer;GTK;
