[Unit]
Description=PA enabled version of PiFmRds
Requires=pulseaudio.service
After=pulseaudio.service

[Service]
Type=exec
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/pi_fm_runner

[Install]
WantedBy=default.target